{% extends "layout.html" %}   <!-- layout.html dosyası en üstte kalacak yoksa hata veriyor.. -->
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}

{% block content %} <!--bu contentin içine yazılacak olanlar layout.html dosyasındaki contentin içine yazılacak-->
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                 <img class="img-fluid rounded-start" src="{% static "courses/img/"|add:course.imageUrl %}"  alt="{{ course.title }}"> <!-- add yazdıktan sonra arada boşluk olmayacak yoksa hata veriyor.. -->
            </div>
            <div class="col-9">
             <h1 class="h3"> {{ course.title }}</h1>
             <p>{{ course.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}


{% block title %}{{ course.title }}{% endblock %}

{% block js_files %}{% endblock %} <!-- JavaScript dosyaları için blok -->