{% extends "layout.html" %}   <!-- layout.html dosyası en üstte kalacak yoksa hata veriyor.. -->
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}

{% block content %} <!--bu contentin içine yazılacak olanlar layout.html dosyasındaki contentin içine yazılacak-->
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <!--menu-->
                {% include "courses/partials/_categories.html" %} <!--categories partialini include ediyoruz-->

            </div>
            <div class="col-9">
                <!--content-->
                {% if courses|length == 0 %}
                <div class="alert alert-warning">Hiç kurs bulunamadı.</div>
                {% endif %}
                {% for kurs in courses %} <!--courses listesini döngüye alıyoruz-->
                    {% comment %} {% if kurs.isActive %} <!-- Eğer kurs aktifse --> {% endcomment %}
                      {% include "courses/partials/_course.html" %} <!--course partialini include ediyoruz-->
                    {% comment %} {% endif %} {% endcomment %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}


{% block title %}Kurslar{% endblock %}

{% block js_files %}{% endblock %} <!-- JavaScript dosyaları için blok -->