{% load static %} <!-- Static dosyaları yüklemek için gerekli kütüphane -->
  <div class="card mb-3">
                       <div class="row">
                        <div class="col-5">
                            <img class="img-fluid rounded-start" src="{% static "courses/img/"|add:kurs.imageUrl %}"  alt="{{ kurs.title }}"> <!-- add yazdıktan sonra arada boşluk olmayacak yoksa hata veriyor.. -->
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'course_details' kurs.slug %}">
                                        {{ kurs.title }}
                                    </a>
                                </h5> <!--  |truncatechars:10 Başlık 10 karakterle sınırlı -->
                                <p class="card-text">{{ kurs.description}}</p> <!--  |truncatewords:20 Açıklama 20 kelimeyle -->
                                <p class="card-text"><small class="text-muted">{{ kurs.date |date:"SHORT_DATE_FORMAT" }}</small></p>
                       </div>
                        </div>
                    </div>


<!-- d  sadece günü 
 Y m d yıl ay gün şeklinde 
 d F D gün(sayı) ay(isim) gün(isim) -->

